<div id="<%= dom_id job %>">
  <p>
    <strong>Id:</strong>
    <%= job.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= job.name %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= job.desc %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= job.status %>
  </p>

  <p>
    <strong>Attempt:</strong>
    <%= job.attempt %>
  </p>

  <p>
    <strong>Err:</strong>
    <%= job.err %>
  </p>

</div>
